<h1> Edit <%= @article.title %> </h1>
<div class = 'input-cont'>
    <%= form_with model: @article, url: update_article_path, class: 'form', method: :patch do |form| %>
        <%= form.label :title %>
        <%= form.text_field :title, class: 'text-field' %>
        <%= form.label :body %>
        <%= form.text_area :body, class: 'text-area' %>
        <%= form.submit "Submit", class: 'button' %>
    <% end %>
</div>